* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #121212;
}

#header {
    background-color: #1F1F1F;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#headerStyle {
    display: flex
}

nav {
    background-color: #1F1F1F;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

pre {
    background: #263238;
    color: white;
    padding: 5px 15px;
}


#navLink {
    margin-right: 20px;
    padding-bottom: 7px;
}

#navLink, #navLink:visited, #navLink:hover {
    color: white
}

#navLink:hover {
    border-bottom: 4px solid;
}

article:not(#blank):not(#hotTake) {
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    background-color: #1E1E1E;
    border-top: 7px solid;
    border-color: #3F51B5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#hotTake {
    border: 0px !important;
    background: #94731e !important;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#morePageDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#headerContainer {
    padding: 15px;
    margin: 20px;
    margin-bottom: 10px;
    background-color: #1E1E1E;
    border-top: 7px solid;
    border-color: #3F51B5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#publishDate {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

#listPages {
    padding: 20px
}

#extraDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1E1E1E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#switchMode {
    display: inline-block;
}

h1, h2, h3, h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

p, strong, li {
    margin-bottom: 13px;
    color: white;
}

p, li {
    line-height: 1.5;
}

li {
    margin-left: 40px;
}

hr, #line {
    color: #ffffff80;
}
a {
    text-decoration: none;
    color: #4a5fd6
}

img {
    width: 100%;
}

#themeSwitcher {
    margin-left: auto;
    height: 40px;
    width: 40px;
    background: #3b3b3b;
    color: white;
    border: 0px solid;
    border-radius: 50px;
}

#homeLink {
    color: white;
    transition: 0.25s ease color;
}

#homeLink:hover {
    color: #3F51B5
}


#homeLink1 {
    color: white;
    transition: 0.25s ease color;
}

#homeLink1:hover {
    color: #929292
}

#linkHover {
    color: gray;
    background-color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    transition: 0.25s ease background-color;
}
#linkHover:hover {
    color: white;
    background-color: #3F51B5;
}

#articleLink, #captionLink {
    color: #7986CB;
    background-color: transparent;
    text-decoration: underline;
    transition: 0.25s ease background-color;
}
#articleLink:hover, #captionLink:hover {
    color: white;
    background-color: #7986CB;
}

#customButton {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3F51B5;
    transition: 0.25s ease background-color;
    border: 0px;
    color: white;
}

#customButton:hover {
    background-color: #222763;
}

#responseContainer {
    display: none;
    margin-top: 15px;
    background-color: #3F51B5;
    color: white;
    padding: 15px;
}

#timeResult {
    line-height: 0.6;
}

footer {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    margin: 20px;
    margin-top: 5px;
}

/* Credits to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/
input[type='number'] {
    -moz-appearance:textfield;
    font-size: 18px;
    color: white;
    background: #1E1E1E;
    border: 0px solid;
    border-bottom: 2px solid;
    border-bottom-color: #3F51B5

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media screen and (min-width: 1400px) {
    #listPages {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 53%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    #listPages {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 63%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    #listPages {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 83%;
        margin-left: auto;
        margin-right: auto;
    }
}