* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #F2F4F8;
}

#header {
    background-color: #4755ee;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#headerStyle {
    display: flex
}

nav {
    background-color: #2A3AEF;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

pre {
    background: #263238;
    color: white;
    padding: 5px 15px;
}


#navLink {
    margin-right: 20px;
    padding-bottom: 7px;
}

#navLink, #navLink:visited, #navLink:hover {
    color: white
}

#navLink:hover {
    border-bottom: 4px solid;
}

article:not(#blank):not(#hotTake) {
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-top: 7px solid;
    border-color: #2A3AEF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#hotTake {
    border: 0px !important;
    background: #fedc03 !important;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#headerContainer {
    padding: 15px;
    margin: 20px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-top: 7px solid;
    border-color: #2A3AEF;
    box-shadow: 0 2px 10px #00000033;
}

#publishDate {
    color: rgba(37, 37, 37, 0.8);
    font-size: 14px;
    text-transform: uppercase;
}

#listPages {
    padding: 20px
}

#extraDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4 {
    margin-top: 15px;
    margin-bottom: 15px
}

p {
    margin-bottom: 13px;
}

p, li {
    line-height: 1.5;
}

li {
    margin-left: 40px;
}

hr {
    color: #00000080;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
}

#themeSwitcher {
    margin-left: auto;
    height: 40px;
    width: 40px;
    background: #353fb3;
    color: white;
    border: 0px solid;
    border-radius: 50px;
}

#homeLink {
    color: black;
    transition: 0.25s ease color;
}

#homeLink:hover {
    color: #2A3AEF
}


#linkHover {
    color: gray;
    background-color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    transition: 0.25s ease background-color;
}
#linkHover:hover {
    color: white;
    background-color: #2A3AEF;
}

#articleLink {
    color: #5865F2;
    background-color: transparent;
    text-decoration: underline;
    transition: 0.25s ease background-color;
}
#articleLink:hover {
    color: white;
    background-color: #2A3AEF;
}

#customButton {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #2A3AEF;
    transition: 0.25s ease background-color;
    border: 0px;
    color: white;
}

#customButton:hover {
    background-color: #222763;
}

#responseContainer {
    display: none;
    margin-top: 15px;
    background-color: #2A3AEF;
    color: white;
    padding: 15px;
}

footer {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    margin: 20px;
    margin-top: 5px;
}

/* Credits to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/
input[type='number'] {
    -moz-appearance:textfield;
    font-size: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media screen and (min-width: 1400px) {
    #listPages {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 53%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    #listPages {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 63%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    #listPages {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 83%;
        margin-left: auto;
        margin-right: auto;
    }
}