* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #121212;
}

#header {
    background-color: #1F1F1F;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#headerStyle {
    display: flex
}

nav {
    background-color: #1F1F1F;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

pre {
    background: #263238;
    color: white;
    padding: 5px 15px;
}

#caption {
    font-size: 0.85rem;
}

#navLink {
    margin-right: 20px;
    padding-bottom: 7px;
}

#navLink, #navLink:visited, #navLink:hover {
    color: white
}

#navLink:hover {
    border-bottom: 4px solid;
}

article:not(#blank):not(#pageDescription) {
    display: flex;
    padding-left: 15px;
    margin-top: 10px;
    background-color: #1E1E1E;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#pageDescription {
    margin-bottom: 10px;
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#cover {
    background-image: url("../img/terrible-travel-guide.jpeg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

#darkLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, #1f1f1fe0);
}

#infoText {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0.1;
}

#photoLayout {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 10px;
}

#photoLayoutSingle {
    width: 70%;
    margin: auto
}

#travelDiv {
    position: relative;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transform-origin: center;
    background-color: #0000005e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#pageDescText {
    padding: 15px;
}

#headerContainer {
    padding: 15px;
    padding-bottom: 5px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #1E1E1E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#publishDate {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

#listPages {
    padding: 20px
}

#extraDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1E1E1E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#thumbnail {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-left: auto
}

h1, h2, h3, h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

p {
    color: white;
    margin-bottom: 13px;
}

p, li {
    line-height: 1.5;
}

li {
    margin-left: 40px;
}

hr {
    color: #ffffff80;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

#themeSwitcher {
    margin-left: auto;
    height: 40px;
    width: 40px;
    background: #3b3b3b;
    color: white;
    border: 0px solid;
    border-radius: 50px;
}

#homeLink {
    color: white;
    transition: 0.25s ease color;
}

#homeLink:hover {
    color: #8f7021
}


#linkHover {
    color: gray;
    background-color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    transition: 0.25s ease background-color;
}
#linkHover:hover {
    color: white;
    background-color: #8f7021;
}

footer {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    margin: 20px;
    margin-top: 5px;
}

@media screen and (min-width: 1400px) {
    #listPages, #travelDiv {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 53%;
        margin-left: auto;
        margin-right: auto;
    }

    #photoLayoutSingle {
        width: 50%;
        margin: auto;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    #listPages, #travelDiv {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 63%;
        margin-left: auto;
        margin-right: auto;
    }

    #photoLayoutSingle {
        width: 50%;
        margin: auto;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    #listPage, #travelDiv {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerStyle, #navText {
        width: 83%;
        margin-left: auto;
        margin-right: auto;
    }

    #photoLayoutSingle {
        width: 50%;
        margin: auto;
    }
}