* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #F2F4F8;
}

#headerStyle {
    background-color: #ab7c03;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background-color: #856003;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

pre {
    background: #263238;
    color: white;
    padding: 5px 15px;
}

#caption {
    font-size: 0.85rem;
}

#navLink {
    margin-right: 20px;
}

#navLink, #navLink:visited, #navLink:hover {
    color: white
}

#navLink:hover {
    border-bottom: 2px solid;
}

article:not(#blank):not(#pageDescription) {
    display: flex;
    padding-left: 15px;
    margin-top: 10px;
    background-color: #FFF;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#pageDescription {
    margin-bottom: 10px;
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#cover {
    background-image: url("../img/terrible-travel-guide.jpeg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

#darkLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, #1f1f1fe0);
}

#infoText {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0.1;
}

#photoLayout {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap: 10px;
}

#photoLayoutSingle {
    width: 50%;
    margin: auto
}

#travelDiv {
    position: relative;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transform-origin: center;
    background-color: #0000005e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#pageDescText {
    padding: 15px;
}

#morePageDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#headerContainer {
    padding: 15px;
    padding-bottom: 5px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#publishDate {
    color: rgba(37, 37, 37, 0.8);
    font-size: 14px;
    text-transform: uppercase;
}

#listPages {
    padding: 20px
}

#extraDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#switchMode {
    display: inline-block;
}

#thumbnail {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-left: auto
}

h1, h2, h3, h4 {
    margin-top: 15px;
    margin-bottom: 15px
}

p {
    margin-bottom: 13px;
}

p, li {
    line-height: 1.5;
}

li {
    margin-left: 40px;
}

hr, #line {
    color: rgba(0, 0, 0, 0.5);
}
a {
    text-decoration: none;
}

img {
    width: 100%;
}

#homeLink {
    color: black;
    transition: 0.25s ease color;
}

#homeLink:hover {
    color: #ab7c03
}


#homeLink1 {
    color: white;
    transition: 0.25s ease color;
}

#homeLink1:hover {
    color: #929292
}

#linkHover {
    color: gray;
    background-color: transparent;
    padding-left: 4px;
    padding-right: 4px;
    transition: 0.25s ease background-color;
}
#linkHover:hover {
    color: white;
    background-color: #ab7c03;
}

#articleLink {
    color: #5865F2;
    background-color: transparent;
    text-decoration: underline;
    transition: 0.25s ease background-color;
}
#articleLink:hover {
    color: white;
    background-color: #ab7c03;
}

#customButton {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ab7c03;
    transition: 0.25s ease background-color;
    border: 0px;
    color: white;
}

#customButton:hover {
    background-color: #222763;
}

#responseContainer {
    display: none;
    margin-top: 15px;
    background-color: #ab7c03;
    color: white;
    padding: 15px;
}

#timeResult {
    line-height: 0.6;
}

footer {
    padding-left: 20px;
    padding-right: 20px;
}

hr {
    margin: 20px;
    margin-top: 5px;
}

/* Credits to https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box*/
input[type='number'] {
    -moz-appearance:textfield;
    font-size: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media screen and (min-width: 1000px) {
    #listPages {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer, hr, #headerContainer, #extraDiv, #travelDiv {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    #headerText, #navText {
        width: 53%;
        margin-left: auto;
        margin-right: auto;
    }
}